@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Michroma&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-header: "Michroma", sans-serif;
  --font-title: "Google Sans Code", monospace;
  --font-body: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #6b7280 transparent;
}

.michroma-regular {
  font-weight: 400;
  font-style: normal;
}

.google-sans-code-normal {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-normal {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
